<footer class="mdl-mega-footer">
  
  <div class="mdl-mega-footer--middle-section">

    <div class="mdl-mega-footer--drop-down-section">
      <h1 class="mdl-mega-footer--heading">Author</h1>
      <ul class="mdl-mega-footer--link-list">
      Hi I'm Daniel, a Software craftsman, impulsive reader and  challenges accepter. This is my personal blog and the place where I'll write about different  random stuff.
      </ul>
    </div>

    <div class="mdl-mega-footer--drop-down-section">
      <h1 class="mdl-mega-footer--heading">Contact</h1>
      <ul class="mdl-mega-footer--link-list">
        <li><a href="mailto:%64%61%6e%69%65%6c.%68%65%72%6e%61%6e%64%65%7a.%76%69%63%65%6e%74%65@%67%6d%61%69%6c.%63%6f%6d">daniel.hernandez.vicente@gmail.com</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer--drop-down-section">
      <h1 class="mdl-mega-footer--heading">Pages</h1>
      <ul class="mdl-mega-footer--link-list">
        <li><a class="mdl-navigation__link" href="it.html">Computer Science</a></li>
        <li><a class="mdl-navigation__link" href="/writing.html">Writing Área</a></li>
        <li><a class="mdl-navigation__link" href="/notesBook.html">Notes Book</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer--drop-down-section">
      <h1 class="mdl-mega-footer--heading">Other sources</h1>
      <ul class="mdl-mega-footer--link-list">
        <li><a href="https://twitter.com/danihv10" target="new">Twitter</a></li>
        <li><a href="https://github.com/newrol" target="new">Github</a></li>
      </ul>
    </div>
  </div>

  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Licencia de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />Este obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">licencia de Creative Commons Reconocimiento-NoComercial-CompartirIgual 4.0 Internacional</a>.

   
</footer>