<!-- Uses a header that scrolls with the text, rather than staying
  locked at the top -->
<div class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">{{ site.title }}</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href= "{{ site.baeurl }}/index.html"><i class="fa fa-home fa-lg"></i> Home</a>
        <a class="mdl-navigation__link" href= "{{ site.baeurl }}/it.html"><i class="fa fa-laptop fa-lg"></i> Computer Science</a>
        <a class="mdl-navigation__link" href= "{{ site.baseurl }}/writing.html"><i class="fa fa-file-text fa-lg"></i> Writing Área</a>
        <a class="mdl-navigation__link" href= "{{ site.baeurl }}/notesBook.html"><i class="fa fa-book fa-lg"></i> Notes Book</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">{{ site.title }}</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href= "{{ site.baeurl }}/index.html"><i class="fa fa-home fa-lg"></i> Home</a>
      <a class="mdl-navigation__link" href= "{{ site.baeurl }}/it.html"><i class="fa fa-laptop fa-lg"></i> Computer Science</a>
      <a class="mdl-navigation__link" href= "{{ site.baseurl }}/writing.html"><i class="fa fa-file-text fa-lg"></i> Writing Área</a>
      <a class="mdl-navigation__link" href= "{{ site.baeurl }}/notesBook.html"><i class="fa fa-book fa-lg"></i> Notes Book</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    