<!-- Uses a header that scrolls with the text, rather than staying
  locked at the top -->
<div class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">{{ site.title }}</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href= "{{ site.baeurl }}/index.html"><i class="fa fa-home fa-lg"></i> Home</a>
        <a class="mdl-navigation__link" href= "{{ site.baeurl }}/it.html"><i class="fa fa-laptop fa-lg"></i> Computer Science</a>
        <a class="mdl-navigation__link" href= "{{ site.baseurl }}/writing.html"><i class="fa fa-file-text fa-lg"></i> Writing Área</a>
        <a class="mdl-navigation__link" href= "{{ site.baeurl }}/notesBook.html"><i class="fa fa-book fa-lg"></i> Notes Book</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    &nbsp;
    <img id="profile"  class="profile-photo" src="https://avatars3.githubusercontent.com/u/11231994?v=3&amp;s=460"  alt="https://avatars3.githubusercontent.com/u/11231994?v=3&amp;s=460">
    <div class="mdl-tooltip" for="profile">
      Hi I'm Daniel, a Software craftsman, impulsive reader and challenges accepter. This is my personal blog and the place where I'll write about different random stuff.
    </div>
    <span class="mdl-layout-title">{{ site.title }}</span>
    <div class="icons-box">
      <div class="mdl-layout-title social-icon">
        <a href="https://twitter.com/danihv10"><img src="/public/icons/webicon-twitter.svg" alt="/public/icons/webicon-twitter.svg"></a>
      </div>
      <div class="social-icon">
        <a  href="https://github.com/newrol"><img src="/public/icons/webicon-github.svg" alt="/public/icons/webicon-github.svg"></a>
      </div>
      <div class="social-icon">
        <a  href="https://es.linkedin.com/in/danielhv
          "><img src="/public/icons/webicon-linkedin.svg" alt="/public/icons/webicon-linkedin.svg" ></a>
      </div>
    </div>
    <hr/>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href= "{{ site.baeurl }}/index.html"><i class="fa fa-home fa-lg"></i> Home</a>
      <a class="mdl-navigation__link" href= "{{ site.baeurl }}/it.html"><i class="fa fa-laptop fa-lg"></i> Computer Science</a>
      <a class="mdl-navigation__link" href= "{{ site.baseurl }}/writing.html"><i class="fa fa-file-text fa-lg"></i> Writing Área</a>
      <a class="mdl-navigation__link" href= "{{ site.baeurl }}/notesBook.html"><i class="fa fa-book fa-lg"></i> Notes Book</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
