<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/public/icons/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="{{ "/public/css/main.css" | prepend: site.baseurl }}">
  <!-- material-desing-lite -->
  <link rel="stylesheet" href="/public/css/material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link rel="stylesheet" href="/public/css/styles.css">
  <!--Lightbox css image gallery css -->
  <link rel="stylesheet" href="/public/css/lightbox.min.css">
  <!-- -->
  <!--Awesome font css -->
  <link rel="stylesheet" href="/public/css/font-awesome.min.css">
  <!-- -->
  <link rel="stylesheet" href="/public/css/horizontal.css">
</head>
