<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      
      <div class="wrapper">
        
  
       <br><br>       
        {{ content }}
         <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>
        <a href="#" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">other sources
        </a>
      </div>
    

    {% include footer.html %}

    </div>
    </div> 
    </div>
  </main>
</div>
  </body>
</html>
