---
layout: default
---

  <style>
      
      .image-card-wide > .mdl-card__title {
        height: 176px;
        background: url('{{ site.baeurl }}/public/assets/images/{{ page.image }}') center / cover;
      }
  </style>
    
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="image-card-wide mdl-card mdl-cell mdl-cell--12-col">
              
              <div class="mdl-card__title">

                  <h1 class="mdl-card__title-text"> {{ page.title }}</h1>
              </div> 

            </div>     
              <div class="mdl-card__supporting-text">  
                <span class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</span>         
                <p><p>
                {{ page.content }}<br>
                
                </div>
          </section>
