---
layout: default
---

 <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--6dp">
            <div class="mdl-card__supporting-text mdl-cell mdl-cell--12-col">
            
                <header >
                  <h1 class="post-title">{{ page.title }}</h1>
                  <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
                </header>
                {{ page.content }}<br>
              </div>
          </section>

  <style>
    
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 50px;
      margin-bottom: 50px;
      z-index: 900;
    }
    </style>
    <div id="view-source">
      <button id="demo-menu-top-right" 
        class="mdl-button mdl-js-button mdl-button--icon mdl-color--accent mdl-color-text--accent-contrast">
  			<i class="material-icons">more_vert</i>
	   </button>

<ul class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect"
    for="demo-menu-top-right">
  <li class="text">Text size:</li>
  <li class="mdl-menu__item">
		<input class="mdl-slider mdl-js-slider" type="range"
			  min="0" max="100" value="50" tabindex="0">
  </li>
  <li class="text">Nigth:</li>
  <li class="mdl-menu__item">
		<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2">
  <input type="checkbox" id="switch-2" class="mdl-switch__input">
  <span class="mdl-switch__label"></span>
</label>
  </li>

</ul>
  		Reading options
			
	</div>

